<nav>
  <div class="wrapper">
    <div class="logo">
      <a href="/"
        ><img src="../images/logo.png" alt="logo" />
        <h3>Adi Hardwares</h3></a
      >
    </div>
    <input type="radio" name="slider" id="menu-btn" />
    <input type="radio" name="slider" id="close-btn" />
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"
        ><i class="fas fa-times"></i
      ></label>
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li>
        <a href="#" class="desktop-item">Our Products</a>
        <input type="checkbox" id="showMega" />
        <label for="showMega" class="mobile-item">Our Products</label>
        
        <div class="mega-box" id = "showMegas">
          <div class="content">
            <div class="row">
              <img src="../images/navimg.png" alt="" />
            </div>
            <% categories.forEach(category => { %>
              <div class="row">
                <a href="/search/<%= encodeURIComponent(category.name) %>"><header><%= category.name %></header></a>
                <ul class="mega-links">
                  <% if (category.subcategories.length > 0) { %>
                    <% category.subcategories.forEach(subcategory => { %>
                      <li><a href="/search/<%= encodeURIComponent(category.name) %>"><%= subcategory.name %></a></li>
                      <% }) %>
                      <% } else { %>
                      <li><a href="/search/<%= encodeURIComponent(category.name) %>">Coming Soon...</a></li>
                    <% } %>  
                    </ul>
                      </div>
                      <% }) %>
          </div>
        </div>
      </li>
      <li><a href="/AdiHardwares_Catalogue.pdf" download="ADI-2024.pdf" type="application/pdf" target="_blank" >E-Catalouge</a></li>
      <li><a href="/api/v1/login">Login</a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"
      ><i class="fas fa-bars"></i
    ></label>
  </div>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", function() {
  // Check if the .mega-box element exists
  var megaBox = document.getElementById("showMegas");
  if (megaBox) {
    megaBox.style.maxHeight = "100%"; // Set max-height to 100% to show it by default
  }
});
</script>
